<% provide(:title, "Contact") %>

<div class="page-header">
  <h1>CONTACT ME</h1>
</div>

<div>
  <ul class="contact-links">
    <li><%= link_to "Github", "http://www.github.com/harishsr" %></li>
    <li><%= link_to "Email", "mailto:harishsr@icloud.com" %></li>
    <li><%= link_to "Linked In", "https://www.linkedin.com/in/harishsr" %></li>
    <li><%= link_to "Twitter", "http://twitter.com/harishsr" %></li>
  </ul>
</div>