<% provide(:title, "Resume") %>

<div class="resume row">

  <!--   TITLE -->
    <span class="res-title row">
      <div class="col-md-12">
        <h1>Harish Ramachandran</h1>
      </div>

      <div class="col-md-3 r-title-info">
        <h4><%= link_to "Download PDF", '/resume_2015_06.pdf' %></h4>
      </div>

      <div class="col-md-3 r-title-info">
        <h4><%= link_to "github profile", 'https://github.com/harishsr' %></h4>
      </div>

      <div class="col-md-3 r-title-info">
        <h4><%= link_to "harishsr@icloud.com", 'mailto:harishsr@icloud.com' %></h4>
      </div>

      <div class="col-md-3 r-title-info">
        <h4>Jacksonville, FL</h4>
      </div>
    </span><hr>

  <div class="row">
    <!-- TECHNICAL EXPERIENCE -->
      <span class="row">
        <div class="col-md-12 res-cat">
          <h3>Technical Skills & Projects</h3>
        </div>
        <!-- SKILLS -->
          <span class="row">
            <div class="col-md-6">
              <ul>
                <li><em>Languages & Frameworks: </em>HTML, CSS, SASS, Ruby, Ruby on Rails, RSpec, MiniTest, HAML, Bootstrap, Git.</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li><em>Programs: </em>Sublime Text, Terminal, Github, Heroku, Microsoft Office (Sharepoint, Word, Excel, Outlook, Powerpoint), Mac OS, Windows.</li>
              </ul>
            </div>
          </span>

        <!-- H_LIST -->
          <span class="row">
            <div class="col-md-12">
              <h4>List: Jacksonville's Internet Classifieds</h4>
              <h5><a href="https://github.com/harishsr/h_list">Github code</a>, <a href="https://murmuring-stream-8350.herokuapp.com/">Website link</a></h5>
            </div>
          </span>

          <div class="col-md-12">
            <ul>
              <li>Uses Ruby, Ruby on Rails, HTML, HAML, CSS, SASS, MiniTest, Bootstrap, Git, PostgreSQL, and Heroku.</li>
              <li>This app allows all users to view listings of items or services for sale. These items and services are only posted onto the site by users that have registered and logged in.</li>
              <li>The default Rails testing stack was used for testing. User registration, login, and authentication were created using the devise gem. will_paginate was used to paginate the numerous pages of postings. The validates_email_format_of gem was used to validate that the format of entered emails was correct. Deployed using Heroku.</li>
            </ul>
          </div>

        <!-- THIS PORTFOLIO -->
          <span class="row">
            <div class="col-md-12">
              <h4>Portfolio</h4>
              <h5><a href="https://github.com/harishsr/portfolio_A">Github code</a>, <a href="http://www.harishsr.com">Website link</a></h5>
            </div>
          </span>

          <div class="col-md-12">
            <ul>
              <li>Uses Ruby, Ruby on Rails, HTML, HAML, CSS, SASS, Javascript, Bootstrap, MiniTest, Git, PostgreSQL, and Heroku.</li>
              <li>Employs static pages to display my portfolio and resume.</li>
              <li>HAML, ERB, SASS, and Bootstrap were used for presentation.  Tested using the default Rails testing stack.  Deployed using PostgreSQL in Heroku.</li>
            </ul>
          </div>

        <!-- MICHAEL HARTL'S TUTORIAL -->
          <div class="col-md-12">
            <h4>Twitter clone</h4>
            <h5><a href="https://github.com/harishsr/hartl3_sample_app">Github code</a>, <a href="https://ancient-everglades-3119.herokuapp.com/">Website link</a></h5>
          </div>

          <div class="col-md-12">
            <ul>
              <li>Uses Ruby, Ruby on Rails, HTML, ERB, CSS, SASS, Javascript, Bootstrap, MiniTest, Git, PostgreSQL, and Heroku.</li>
              <li>This app uses a custom authorization and authentication system to allow users to create accounts and log in. It requires that they be authenticated before accessing certain pages such as the profile. Once logged in, they can post short messages, with pictures if they prefer.</li>
              <li>Created using Ruby on Rails and online resources. Registration, login, account activation, and password reset functionalities were written from scratch. The carrierwave and mini_magick gems were used to upload images. Mailers were used to send emails to users for account activations and for password resets. Created using tests and test-driven development (TDD) and the default Rails testing stack.  Deployed using Heroku.</li>
            </ul>
          </div>
      </span><hr class="res-hr">

    <!-- EXPERIENCE -->
      <span class="row">
        <div class="col-md-12 res-cat">
          <h3>Work Experience</h3>
        </div>

        <!-- STATE FARM -->
          <div class="col-md-9">
            <h4>State Farm - Internet Support Representative</h4>
          </div>
          <div class="col-md-3">
            <h4>Oct 2013 - Present</h4>
          </div>

          <div class="col-md-12">
            <ul>
              <li>Assist businesses working with State Farm to access their individual accounts so they can perform their Business-to-Business (B2B) operations. Provide support for the tools that users can access on the <abbr title="Business-to-Business">B2B</abbr> website.</li>
              <li>Work as a Procedural Assistance Line (PAL) specialist that answers procedural questions and received recognition from supervisors in de-escalating escalated customer calls.</li>
              <li>Received numerous commendations for call quality, being able to meet or exceed my team’s goal metrics, and helping team members improve their call metrics and quality.</li>
              <li>Perform all duties of the Randstad Staffing Internet Support Representative, below.</li>
            </ul>
          </div>

        <!-- RANDSTAD -->
          <div class="col-md-9">
            <h4>Randstad Staffing (for State Farm) - Internet Support and Customer Care Representatives</h4>
          </div>
          <div class="col-md-3">
            <h4>Feb 2013 - Oct 2013</h4>
          </div>

          <div class="col-md-12">
            <ul>
              <li>Communicated with insurance policy holders by phone, providing customer service by patiently helping them set up or log in to their online account, troubleshooting log in issues, and assisting them with website navigation.</li>
              <li>Verified the identity of each policy holder by asking security questions from public information databases, including the credit bureau and other sources.</li>
              <li>Processed incoming requests and concerns from customers in a fast paced, high call volume environment, providing individual focus and attention. Requests included faxes, emails, new auto and fire claims, coverage questions, adding or replacing vehicles, etc.</li>
              <li>Documented customers’ inquiries and resolutions, updating the agent as needed.</li>
            </ul>
          </div>

        <!-- MSC CARE MANAGEMENT, NOW CALLED ONECALL CARE MANAGEMENT -->
          <div class="col-md-9">
            <h4>MSC Care Management - Patient Care Coordinator</h4>
          </div>
          <div class="col-md-3">
            <h4>Nov 2008 - Sept 2012</h4>
          </div>

          <div class="col-md-12">
            <ul>
              <li>Coordinated the delivery and installation of mobility and DME (durable medical equipment) products and services to injured workers nationwide within the worker’s compensation industry.</li>
              <li>Worked in conjunction with a national network of medical vendors, doctors, physical and occupational therapists, adjusters, nurse case managers, discharge planners, attorneys and other healthcare professionals to ensure the appropriate and medically prescribed products and services were delivered within the mandated timeframe.</li>
              <li>Followed up by phone, email, fax, or letters to ensure that all parties were kept abreast of the status of each request.</li>
              <li>Processed and negotiated products and services based off MSRP (manufacturer’s suggested retail price) and U&C (usual and customary costs) to offer insurance companies a cost savings while abiding by the appropriate fee schedule and federal guidelines.</li>
              <li>Trained new hires to ensure they understood how to perform their jobs properly and with integrity.</li>
              <li>Worked on a deadline with adjusters and case managers to sell the benefits of doing business with MSC versus our competitors.</li>
            </ul>
          </div>
      </span><hr class="res-hr">
      
    <!-- EDUCATION -->
      <span class="row">
        <div class="col-md-12 res-cat">
          <h3>Education</h3>
        </div>

        <div class="col-md-9">
          <h4>University of North Florida</h4>
        </div>
        <div class="col-md-3">
          <h4>May 2008</h4>
        </div>

        <div class="col-md-12">
          <ul>
            <li>Bachelor of Business Administration in Economics; coursework included financial & managerial accountings, and business & economic statistics.</li>
          </ul>
        </div>
      </span>

  </div>
</div>