<% provide(:title, "Resume") %>

<div class="resume">

  <!--   TITLE AREA-->
    <span class="page-header">
      <div class="col-md-12">
        <h1>Harish Ramachandran</h1>
      </div>

      <!-- CONTACT LINKS -->
      <div class="col-md-6">
      </div>

      <div class="col-md-3 resume-title">
        <h4><%= link_to "harishsr@icloud.com", 'mailto:harishsr@icloud.com' %></h4>
      </div>

      <div class="col-md-3 resume-title">
        <h4>Jacksonville, FL</h4>
      </div>
    </span>

  <!-- TECHNICAL SKILLS -->
    <span>
      <div class="col-md-12">
        <h3>TECHNICAL SKILLS</h3>
      </div>

      <div class="col-md-6">
        <ul>
          <li><em>Proficiencies:</em> HTML5, CSS, SASS, Ruby, Ruby on Rails, TDD, RSpec, MiniTest, Git.</li>
          <li><em>Github:</em> <a href="https://github.com/harishsr">https://github.com/harishsr</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li><em>Tools:</em> Sublime Text, Terminal, Github, Heroku, Microsoft Office, Windows, Mac OS</li>
          <li>Average typing speed of 75 wpm.</li>
        </ul>
      </div>
    </span>

  <!-- EDUCATION -->
    <span>
      <div class="col-md-12">
        <h3>EDUCATION</h3>
      </div>

      <div class="col-md-9">
        <h4>University of North Florida</h4>
      </div>
      <div class="col-md-3">
        <h4>May 2008</h4>
      </div>

      <div class="col-md-12">
        <ul>
          <li>Bachelor of Business Administration in Economics; coursework included financial & managerial accountings, and business & eocnomic statistics.</li>
        </ul>
      </div>
    </span>

  <!-- EXPERIENCE -->
    <span class="resume-content">
      <div class="col-md-12">
        <h3>WORK EXPERIENCE</h3>
      </div>

      <!-- STATE FARM -->
        <div class="col-md-9">
          <h4>State Farm - Internet Support Representative</h4>
        </div>
        <div class="col-md-3">
          <h4>Oct 2013 - Present</h4>
        </div>

        <div class="col-md-12">
          <ul>
            <li>Assist businesses working with State Farm to access their individual accounts so they can perform their Business-to-Business (B2B) operations. Provide support for the tools that users can access on the B2B website.</li>
            <li>Occasionally work as a Procedural Assistance Line (PAL) specialist that answers my colleagues’ procedural questions and assists supervisors with escalated customer calls.</li>
            <li>Received numerous commendations for call quality and being able to meet or exceed my team’s goal metrics.</li>
            <li>Perform all duties of the Randstad Staffing Internet Support Representative, below.</li>
          </ul>
        </div>

      <!-- RANDSTAD -->
        <div class="col-md-9">
          <h4>Randstad Staffing (for State Farm) - Internet Support and Customer Care Representatives</h4>
        </div>
        <div class="col-md-3">
          <h4>Feb 2013 - Oct 2013</h4>
        </div>

        <div class="col-md-12">
          <ul>
            <li>Communicated with insurance policy holders by phone, providing customer service by patiently helping them set up or log in to their online account, troubleshooting log in issues, and assisting them with website navigation.</li>
            <li>Verified the identity of each policy holder by asking security questions from public information databases, including the credit bureau and other sources.</li>
            <li>Processed incoming requests and concerns from customers in a fast paced, high call volume environment, providing individual focus and attention. Requests included faxes, emails, new auto and fire claims, coverage questions, adding or replacing vehicles, etc.</li>
            <li>Documented customers’ inquiries and resolutions, updating the agent as needed.</li>
          </ul>
        </div>

      <!-- MSC CARE MANAGEMENT, NOW CALLED ONECALL CARE MANAGEMENT -->
        <div class="col-md-9">
          <h4>MSC Care Management - Patient Care Coordinator</h4>
        </div>
        <div class="col-md-3">
          <h4>Nov 2008 - Sept 2012</h4>
        </div>

        <div class="col-md-12">
          <ul>
            <li>Coordinated the delivery of mobility and DME (durable medical equipment) products and services to injured workers nationwide within the worker’s compensation industry.</li>
            <li>Worked in conjunction with a national network of medical vendors, doctors, physical and occupational therapists, adjusters, nurse case managers, discharge planners, attorneys and other healthcare professionals to ensure the appropriate and medically prescribed products and services were delivered within the mandated timeframe.</li>
            <li>Followed up by phone, email, fax, or letters to ensure that all parties were kept abreast of the status of each request.</li>
            <li>Processed and negotiated products and services based off MSRP (manufacturer’s suggested retail price) and U&C (usual and customary costs) to offer insurance companies a cost savings while abiding by the appropriate fee schedule and federal guidelines.</li>
            <li>Trained new hires to ensure they understood how to perform their jobs properly and with integrity.</li>
            <li>Worked on a deadline with adjusters and case managers to sell the benefits of doing business with MSC versus our competitors.</li>
          </ul>
        </div>
    </span>

</div>