// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// MAIN

  body {
    padding: 50px;
  }

// PORTFOLIO

  .pf-project {
    padding-right: 15%;
  }

  img.pf-thumb {
    border: 2px solid black;
    width: 80%;
  }

// CONTACT

  .contact-links {
    list-style: none;
    li {
      padding: 3px 0 3px 0;
      a:hover {
        text-decoration: none;
      }
    }
  }

// FOOTER

  .page-footer {
    padding-top: 20px;
  }