// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// VARIABLES & MIXINS

  $padd-main: 20%;
  $large-font-size: 4em;

// MAIN

  body {
    padding: 50px $padd-main;
  }

  .code {
    font-family: "Courier New", Courier, monospace;
  }

// HOME

  .home {
    h1 {
      text-align: center;
    }
    .jumbotron {
      margin: 10px;
      border-radius: 20px;
      p {
        padding: 15px;
        text-align: center;
      }
    }
  }

// NAVBAR

  nav {
    padding-right: $padd-main;
    padding-left: $padd-main;
  }

// PORTFOLIO

  .pf-project {
    padding-right: 15%;
  }

  img.pf-thumb {
    border: 2px solid black;
    width: 80%;
  }

// RESUME

  .resume {
    .res-title h1, .r-title-info {
      text-align: right;
      font-size: $large-font-size;
    }
    .r-title-info, .res-cat h3 {
      text-transform: uppercase;
    }
    .res-cat {
      padding: 0;
    }
    ul li {
      padding: 5px 0;
      em {
        font-weight: bold;
        font-style: normal;
      }
    }
    .res-hr {
      border-top: 1px dashed $gray-lighter;
    }
  }

// CONTACT

  .contact-links {
    list-style: none;
    li {
      padding: 3px 0 3px 0;
      a:hover {
        text-decoration: none;
      }
    }
  }

// FOOTER

  .page-footer {
    margin-top: 20px;
  }