<div class="row page-footer">
<hr>
  <div class="col-md-4">
    <p class ="text-left copy">
      &copy 2015 Harish Ramachandran
    </p>
  </div>

  <div class="col-md-4">
  </div>

  <div class="col-md-4 text-left">
    <%= link_to "Contact Me", contact_path %>
  </div>
</div>